<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css" />
    <title>City Forecast</title>
</head>
<body>
    <div class="main-container">
        <div class="inner-container">
            <a href="/search"><h1 id="site-title">City Forecast</h1></a>
            <div class="search-box">
                {{#if message}}
                <h2>{{message}}</h2>
                
                {{else}}
                <h2>The temperature in {{ city }} is {{ forecast }}°C</h2>
                <img class="weather-icon" src="http://openweathermap.org/img/wn/{{icon}}@2x.png" alt="weather icon" />
                <h2>{{ description }}</h2>
                {{/if}}
                <a class="search-again" href="/search">Search again</a>
            </div>
        </div>
        <div class="country-code-container">
            <h2 class="codes-title">Country Codes</h2>
            <div class="country-code-flexbox">
                {{!-- Header row --}}
                <div class="row">
                    <div class="column _50">
                        <p>Australia</p>
                    </div>
                    <div class="column _25">
                    <p>AU</p>
                    </div>
                    <div class="column _25">
                        <p>🇦🇺</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column _50">
                        <p>Canada</p>
                    </div>
                    <div class="column _25">
                    <p>CA</p>
                    </div>
                    <div class="column _25">
                        <p>🇨🇦</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column _50">
                        <p>Ireland</p>
                    </div>
                    <div class="column _25">
                    <p>IE</p>
                    </div>
                    <div class="column _25">
                        <p>🇨🇮</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column _50">
                        <p>New Zealand</p>
                    </div>
                    <div class="column _25">
                    <p>NZ</p>
                    </div>
                    <div class="column _25">
                        <p>🇳🇿</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column _50">
                        <p>South Africa</p>
                    </div>
                    <div class="column _25">
                    <p>ZA</p>
                    </div>
                    <div class="column _25">
                        <p>🇿🇦</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column _50">
                        <p>United Kingdom</p>
                    </div>
                    <div class="column _25">
                    <p>GB</p>
                    </div>
                    <div class="column _25">
                        <p>🇬🇧</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column _50">
                        <p>United States</p>
                    </div>
                    <div class="column _25">
                    <p>US</p>
                    </div>
                    <div class="column _25">
                        <p>🇺🇸</p>
                    </div>
                </div>
                <p class="codes-link-text">Can't find your country? Find a full list <a class="codes-link" href="https://www.iban.com/country-codes">here</a>.</p>
            </div>
        </div>
        <img class="cityscape" src="images/skyline.png" alt="cityscape">   
    </div>
</body>
</html>